@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout Class="d-flex flex-column" Style="height:100vh">

    <MudAppBar Elevation="0" Color="Color.Transparent">
        <MudIconButton OnClick="ToggleDrawer"
                       Icon="@(drawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)"
                       Edge="Edge.Start" />
    </MudAppBar>

    <!-- Sidebar Drawer (Left) -->
    <MudDrawer @bind-Open="@drawerOpen" 
               Variant="DrawerVariant.Persistent"
               Elevation="1">
        
        <NavMenu />
    </MudDrawer>

    <!-- Main Content -->
    <MudMainContent Style="flex:1 1 auto;height:70%;padding-left:10px;">

        <div Style="height:100%; overflow-y:scroll">
            
            @Body
        </div>
        
    </MudMainContent>


</MudLayout>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool drawerOpen = true; // Start open

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }


}