@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>

    <MudAppBar Elevation="0" Color="Color.Transparent">
        <MudIconButton OnClick="ToggleDrawer"
                       Icon="@(drawerOpen ? Icons.Material.Filled.MenuOpen : Icons.Material.Filled.Menu)"
                       Edge="Edge.Start" />
    </MudAppBar>

    <!-- Sidebar Drawer (Left) -->
    <MudDrawer @bind-Open="@drawerOpen" 
               Variant="DrawerVariant.Persistent" Clipped="true"
               Elevation="1">
        
        <NavMenu />
    </MudDrawer>

    <!-- Main Content -->
    <MudMainContent Class="content px-6 pb-6">
        @Body
    </MudMainContent>


</MudLayout>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool drawerOpen = true; // Start open

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }


}