@page "/jobs"
@inject OracleDataService OracleDataService

<PageTitle>Jobs</PageTitle>

<h3>Jobs</h3>

@if (data == null)
{
    <p><em>Loading...</em></p>
}

else if (!data.Any())
{
    <p>No records found</p>
}

else
{
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                @{
                    var columns = data[0].Keys;
                }
                @foreach (var column in columns)
                {
                    <th scope="col">@column.Replace("_", " ")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Dictionary<string, object> record in data)

            {
                <tr>
                    @foreach (KeyValuePair<string, object> entry in record)
                    {


                        <td>@entry.Value</td>


                    }
                </tr>
            }

        </tbody>
    </table>
}
@code {
    private List<Dictionary<string, object>> data;

    protected override async Task OnInitializedAsync()
    {
        data = await OracleDataService.GetData(1);
    }
}
